<!--Interpolation binding-->
<!-- <h1>{{name}}</h1>
<h2>{{college}}</h2>
<h3>{{num1+num2}}</h3>
<h4>{{20+40}}</h4>

<table class="table table-bordered">
    <tr>
        <th>name</th>
        <th>collage</th>
        <th>email</th>
        <th>branch</th>
    </tr>
    <tr>
        <td>{{pn.name}}</td>
        <td>{{pn.collage}}</td>
        <td>{{pn.email}}</td>
        <td>{{pn.branch}}</td>
    </tr>
</table>

<h1 class="bf-info">Property binding</h1>
<input disabled type="text" [value]="name1">
<input [disabled]='hide' type="submit" value="submit" class="btn btn-info"> -->

<h1 class="bf-info">Attribute binding</h1>
<div class="container">
    <table class="table table-bordered text-black">
        <tr>
            <th [attr.colspan]='num'>Name</th>
            
            <th>Email</th>
        </tr>
        <tr>
            <td>vikas</td>
            <td >jain</td>
            <td>jainivkas887@gmail.com</td>
        </tr>
<br>
        <div class="container">
            <table class="table table-bordered text-black">
                <tr>
                    <th colspan="2">Name</th>
                    
                    <th>Email</th>
                </tr>
                <tr>
                    <td>vikas</td>
                    <td>jain</td>
                    <td>jainivkas887@gmail.com</td>
                </tr>