<p>styleclasscomponent works!</p>
<h1>Ng style</h1>
<button [ngStyle]='mystyle' >Submit Form 1</button>
<br><br>
<button [ngStyle]="{'color':'red'}">Submit form 2</button>
<br><br>
<p [ngClass]="'fontme borderme'">My name is samyak jain</p>

    <p [ngClass]="myclass">pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)
        pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)
        pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)
        pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:5
    </p>